# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
*.xcuserstate

# CocoaPods
Pods/
!Podfile
!Podfile.lock

# Mac系统隐藏文件
.DS_Store
