Pods/
# 忽略外层独立工作区，保留xcodeproj内部文件
*.xcworkspace
!*.xcodeproj/

# Mac系统文件
.DS_Store
._*
.AppleDouble
.LSOverride

# Xcode 用户缓存
xcuserdata/
*.xcuserstate

# 编译产物
build/
DerivedData/
*.log
*.dSYM
*.ipa
*.xcarchive

# Xcode 杂项
*.xccheckout
*.moved-aside
*.xcscmblueprint
*.pbxuser
*.xcbkptlist

# 临时文件
*.tmp
*.temp

# 个人demo才打开下面这行；多人协作务必注释掉
# Podfile.lock